.usersWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.usersList {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  align-items: center;
}

.usersTopPanel {
  display: flex;
  align-items: center;
  height: 40px;
  width: 90%;
  justify-content: space-around;
}